transcript
work/
doc/*
*/sim/*
*/tb/*

*.log
*.aux
*.out
*.toc
*.synctex.gz

docsrc/gpnode/gpnode.pdf
docsrc/gplib/gplib.pdf
docsrc/gpdevice/gpdevice.pdf
docsrc/gpproc/gpproc.pdf
docsrc/gpcomp/gpcomp.pdf
docsrc/manual/manual.pdf
docsrc/tutorial/install_linux/install_linux.pdf
docsrc/tutorial/quick_start_cmd/quick_start_cmd.pdf

distrib/gpstudio_*
distrib/setup-gpstudio_*

bin/*.so*
bin/*.a
bin/*.dll
bin/*.exe
bin/gpnode_gui
bin/gpviewer
bin/gpblock_gui

gui-tools/build*/
gui-tools/bin*/
gui-tools/doc/
gui-tools/win
*.autosave
*.user

nbproject/
