sudo: required
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libusb-1.0-0-dev libqt4-dev qt4-dev-tools libqtscript4-core php5-cli

language: cpp

# Compiler selection
compiler:
  - gcc

install: true

# Build steps
script:
  - make gui-tools
  - make checklib
